.bennar{

    text-align: center;
    background: url(../images/windmill\ \(1\).jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.bennar_hero{
        margin: 204px 0px 0px 0px;
}
.bennar_hero h3{
  font-size: 12px;
    width: 256px;
    height: 14px;
    padding: 4px;
    border-radius: 20px;
    margin-left: 522px;
    background: #d9d9d9;
    font-family: "Noto Sans", sans-serif;
}
.bennar_hero h1{
    font-size: 48px;
    width: 514px;
    margin-left: 394px;
    margin-top: 8px;
    line-height: 51px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #fff;
}
samp{
    color: #c2922a;
    font-weight: 400;
}
.bennar_hero p{
    font-size: 16px;
    width: 434px;
    margin-left: 428px;
    margin-top: -6px;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
}
.bennar_Search{
    padding: 4px 4px;
    width: 393px;
    background: #fff;
    box-shadow: 2px 2px 10px #000;
    border-radius: 50px;
    margin-left: 437px;
    margin-top: 55px;
}
.bennar_Search input{
    border: none;
    background: transparent;
    font-size: 14px;
}
.ome{
    margin-left: 10px;
}
.bennar_Search button{
    padding: 14px 20px;
    background: #000;
    border-radius: 50px;
    border: none;
    color: #fff;
    margin-left: 68px;
}
.tow{
    text-align: center;
    background: url(../images/windmill\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.ttyud{
     text-align: center;
    background: url(../images/windmill\ \(3\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.fgtrhr{
     text-align: center;
    background: url(../images/windmill\ \(4\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.jhggiu{
     text-align: center;
    background: url(../images/windmill\ \(5\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.hgfjhfhj{}
.hgfjhfhj h1{
    color: #000;
}
.hgfjhfhj p{
     color: #000;
}
.cxxscvx{}
.cxxscvx h1{
     color: #000;
}
.cxxscvx p{
     color: #000;

}
